
*{
    margin: 0;
    padding: 0;
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.con{
    display:flex;
}
#scores{
    position: absolute;
    left: 60%;
    top: 63px;
    
    height: 25px;
    width:40vw;
    color:white;
    font-family: 'Indie Flower';
    font-size: 27px;
    
}
#speeds{
    
    position: absolute;
    left: 60%;
    height: 25px;
top: 20px;
    width:40vw;
    color:white;
    font-family: 'Indie Flower';
    font-size: 27px;
    
}
.con img{
    position:absolute;
    z-index: -1;
    height: 100%;
    width:100%;
    
    
}
#bg{
    display: grid;
    grid-template-rows: repeat(40,1fr);
    grid-template-columns: repeat(40,1fr);
    height: 600px;
    width:600px;
    position: absolute;
    top: 4%;
    left: 2%;
    border: 3px solid white;
    background-color: rgb(0 0 0);
    box-shadow: 10px;
}
#id{
    padding:3px 16px;
}
.name div{
    position: absolute;
    display: inline-block;
    font-family: 'Indie Flower';
    font-size: 200px;
    opacity: 0.14555;
    left: 5%;
    top:25%;
    text-orientation: sideways;
    filter: blur(1px);
    
}
#x{
    top :15%;
}
#y{
    top :40%;
}
/* .name img{
    position: absolute;
    top: 116px;
    left: 187px;
    height: 320px;
    width: 320px;
    opacity: 0.5;
    filter:invert(10%);
} */
.shead{
   
    background-color:  #86dae6;
    
    
    border-radius: 10px;
}
.sbody{
    
    background-color: #2e8793;
    grid-row-gap: 2px;
    
    border-radius: 10px;
}
.food{
    
    background-color:  red;
    
    
    border-radius: 8px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
}