*{
    margin:0%;
    padding :0;
    color: #ffb44f;
    font-family: 'Indie Flower';
    font-size: 48px;
}
.container{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.container img{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    
    
    opacity: 0.96;
}
.container .heading{
    display: flex;
    font-weight: bold;
    position: relative;
    top: 104px;
    left: -303px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.container #int{
    
    display: flex;
    flex-direction: column;
    font-size: 22px;
    position: relative;
    top: 104px;
    width: 535px;
    left: -238px;

    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#bg{
    
    height: 500px;
    width:50%;
    justify-content: center;
    align-items: center;


}
#button{
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 2px;
    height:20px;
    color: red;
}
#button:hover{
    color: rgb(78, 5, 151);
}